---
layout: default
---
<div id="profile">
  <div id="profileHeader">
    <div class="avatar">
      <img src="https://avatars.dicebear.com/v2/male/coust.svg" width="380" height="188" alt="avatar" />
    </div>
    <h1>Jürgen Löhel</h1>
  </div>
  <div id="profileDescription">
    {{ content }}
  </div>
  <div id="profileSocialLinks">
    <nav>
      <ul>

        <li><a href="https://www.linkedin.com/in/jloehel/" aria-label="linkedin"><i class="fab fa-lg fa-linkedin"></i><br></a></li>
        <li><a href="https://www.xing.com/profile/Juergen_Loehel" aria-label="linkedin"><i class="fab fa-lg fa-xing-square"></i><br></a></li>
        <li><a href="https://github.com/jloehel" aria-label="github"><i class="fab fa-lg fa-github-alt"></i><br></a></li>
        <li><a href="mailto:juergen@loehel.de" aria-label="email"><i class="fas fa-lg fa-envelope-square"></i><br></a></li>
      </ul>
    </nav>
  </div>
</div>
